[submodule "agendamento"]
	path = agendamento
	url = git://github.com/wteophilo/poc_agendamento.git
[submodule "laboratorio"]
	path = laboratorio
	url = git://github.com/wteophilo/poc_laboratorio.git
[submodule "front_end"]
	path = front_end
	url = git://github.com/wteophilo/poc_front_angular.git
