[submodule "agendamento"]
	path = agendamento
	url = git://github.com/wteophilo/poc_agendamento.git
[submodule "laboratorio"]
	path = laboratorio
	url = git://github.com/wteophilo/poc_laboratorio.git
